@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
  font-family: 'Poppins', sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  
}

.chat-screen {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  background: #FAF9F4;
  z-index: 0;
}

.chat-item {
  margin-bottom: 20px;
}

.chat-header {
  font-weight: bold;
}

.chat-content {
  margin-top: 10px;
  box-shadow: 2px 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 1rem;
  padding: 0.5rem;
  
  white-space: pre-wrap;

}
.top-bar{
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.left-top{
  display: flex;
  gap: 1rem;
}
.top-bar img{
  width: fit-content;
  height: fit-content;
  display: flex;
  align-self: center;
}
.top-bar h1{
  margin: 0;
  padding: 0;
}
span{
  color: grey;
}
.chat-info{
  display: flex;
  justify-content:space-between;
  padding: 4px;
}
.chat-info img{
  width: fit-content;
  height: fit-content;
  display: flex;
  align-self: center;
}
.about{
  display: flex;
  margin-top: 0.5rem;
  font-size: small;
  gap: 1rem;
}
.about h3{
 margin: 0;
}
.chats{
  overflow-y: scroll;
  height: 65vh;
}
.chats p{
  margin-top: 8rem;
  width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #999999; 
   line-height: 0.1em;
   
}
p span { 
  background:#FAF9F4; 
  padding:0 10px; 
}
.chat-item{
  display: flex;
}
.chat-img img{
  border-radius: 50rem;
  height: 2rem;
  margin-right:1rem;
}
form{
  display: flex;
  width: 100%;
}
.chat-input{
  background: white;
}
.chat-input input{
  border: none;
  width:70%;
  padding: 0.6rem;
  border-radius: 2rem;
  padding-bottom: 2rem;
  
}
.chat-input button{
  border: none;
}
input:hover{
  border: none;
}
input:focus{
  border: none;
}
.buttons{
  width: fit-content;
  height: fit-content;
  align-self: center;
  display: flex;
  gap: 2rem;
}
.popup {
  position: relative;
  width: fit-content;
  height: fit-content;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 65%;
  margin-bottom: 1rem;
}

.popup-content {
  position:absolute;
  display: flex;
  background-color: green;
  z-index: 1;
  padding: 10px;
  
  border-radius: 1rem;
  gap: 1rem;
}
.popup-content h2 {
  margin-top: 0;
}

.popup-content p {
  margin-bottom: 10px;
}

.popup-content button {
  margin-top: 10px;
}